<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appcast-lab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>832922B11CB38264008EFBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832922C41CB38264008EFBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832922CF1CB38264008EFBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
